.clients {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 900px;
    margin: 30px auto 0;
}

.client__feature {
    border: #f2f2f2 1px solid;
    text-align: center;
    position: relative;
}

.client__feature-overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba($color: #05b1a9, $alpha: .8);
    width: 100%;
}

.client__feature-name {
    color: #FFF;
    font-weight: 500;
}
