.footer {
    margin-top: 60px;
    padding: 15px;
    background-color: var(--main-primary-color);
}

.footer-grid {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
}
